<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
        <!--
            1.启用延迟加载，当使用到的时候才会进行查询
            2.即使默认值符合需求，也需要显式设置，避免mybatis版本迭代后默认值的改变
        -->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
        <!-- 开启二级缓存，开启在配置文件已配置的缓存配置-->
        <setting name="cacheEnabled" value="true" />
    </settings>
</configuration>